/* PdfViewer.css */
.pdf-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .react-pdf__Document {
    max-width: 100%;
    max-height: 100%;
  }